.film {
  position: relative;
  box-sizing: border-box;
  max-width: 364px;
  background-color: #222222;
}

.film__figure {
  margin: 0;
}

.film__caption {
  padding: 14px;
  box-sizing: border-box;
}

.film__title {
  max-width: calc(100% - 58px);
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.film__duration {
  margin: 0;
  padding-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
}

.film__image-container {
  width: 100%;
  height: 203px;
}

.film__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.button_like {
  position: absolute;
  top: 19px;
  right: 14px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out; 
}

.button_like_inactive {
  background-color: #313131;
  background-image: url(../../images/icon-flag-grey.svg);
}

.button_like_liked {
  background-color: #3DDC84;
  background-image: url(../../images/icon-flag-white.svg);
}

.button_delete {
  position: absolute;
  top: 19px;
  right: 14px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #313131;
  background-image: url(../../images/icon-delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out; 
}

@media screen and (max-width: 720px) {
  .film {
    max-width: 400px;
  }

  .film__image-container {
    width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .film {
    max-width: 300px;
  }

  .film__image-container {
    width: 300px;
  }
}