.profile {
  background-color: #202020;
  text-align: center;
  padding-bottom: 70px;
}

.profile__content {
  max-width: 410px;
  margin: 0 auto;  
}

.profile__title {
  margin: 0;
  padding: 148px 0 106px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.profile__link-exit {
  display: block;
  text-decoration: none;
  margin-top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
}

.profile__link-exit:hover {
  opacity: .6;
}

.form_profile-name {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  border: none;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;  
}

.form_profile-email {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  border: none;
  display: flex;
  justify-content: space-between; 
}

.form_profile input {
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #fff; 
}

.form_profile label {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
}

.button_edit {
  margin-top: 220px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.button_edit_disabled{
  color: #8B8B8B;
  opacity: .5;
  pointer-events: none;
  user-select: none;
}

.button_edit_active{
  color: #fff;
}

@media screen and (max-width: 450px) {
  .profile {
    padding-bottom: 40px;
  }  
  
  .button_edit {
    margin-top: 379px;
  }  
}