@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

.logo {
  width: 38px;
  height: 38px;
}

.logo__link {
  width: 38px;
  height: 38px;
  transition: 0.3s;
}

.logo__link:hover {
  opacity: .6;
}

.container {
  margin: 0 auto;
}

.container_main {
  max-width: 1140px;
}

.container_main-708px {
  max-width: 1140px;
}

.container_narrow {
  max-width: 396px;
}

.container_two-column {
  display: flex;
  justify-content: space-between;
}

.container_wide {
  max-width: 1200px;
}

.section__title {
  margin: 0;
  padding-bottom: 23px;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #DADADA;
  color: #fff;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  opacity: .6;
}

.form__input {
  border: none;
  padding: 0;
}

.form__input:focus {
  outline: none;
}

.form__input-error-message {
  display: none;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.form__input-error-message_active {
  display: block;
}

.form__input_text_name {
  margin-top: 48px;

}

@media screen and (max-width: 1200px) {
  .container_main {
    max-width: 90%;
  }  

  .container_main-708px {
    max-width: 90%;
  } 

  .container_wide {
    max-width: 97%;
  }  
}

@media screen and (max-width: 768px) {
  .container_main {
    max-width: 668px;
  }   

  .container_main-708px {
    max-width: 708px;
  }  

  .container_wide {
    max-width: 728px;
  }  
}

@media screen and (max-width: 700px) {
  .container_main {
    max-width: 90%;
  }   

  .container_main-708px {
    max-width: 90%;
  }  

  .container_wide {
    max-width: 97%;
  } 
}

@media screen and (max-width: 550px) {
  .container_two-column {
    flex-direction: column-reverse;
  }   
}

@media screen and (max-width: 450px) {
  .logo__container {
    text-align: center;
  } 

  .container_narrow {
    max-width: 260px;
  }  
  
  .form__input_text_name {
    margin-top: 38px;
  }
}

@media screen and (max-width: 320px) {
  .container_main {
    max-width: 284px;
  }   

  .container_main-708px {
    max-width: 300px;
  } 

  .container_two-column {
    flex-direction: column-reverse;
  }  

  .container_wide {
    max-width: 292px;
  } 
  
  .section__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  } 
}